body {
    font-family: Arial, sans-serif;
    margin: 90px;
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    background-image: url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 200%; 
    background-color: rgba(0, 0, 0, 0.178); 
    z-index: -1;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f129444d;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.3s;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.header a:hover {
    color: #d8dcff;
    border-bottom: 2px solid #d8dcff;
}


/* Adiciona espaço para o cabeçalho não sobrepor o conteúdo */
body {
    padding-top: 50px;
}


h1 {
    color: #ffffff; 
    text-align: left;
    padding-left: 10px;
    font-size: 47px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.644);
}

h2 {
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}

h3 {
    color: #ffffff;
    font-size: 23px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.432)
}

h4 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.39);
}

form {
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.219);
    margin-top: 60px;
}

label {
    color: #ffffff;
    font-weight: bold;
}

input[type="date"], input[type="number"] {
    padding: 8px;
    font-size: 12px;
    border-radius: 17px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box;
}


.date-pair label {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px; 
    display: inline-block;
    margin-right: 10px !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.623) !important; 
}


.btn-principal {
    background: linear-gradient(45deg, #fc5f93, #d40040); 
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 138px;
    justify-content: center;
    height: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease-in-out; 
    
}

.btn-principal:hover {
    color: #ffffff; 
    background: linear-gradient(59deg, #d40040, #fc5f93); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.resultado {
    background-color: #ffffff96;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-weight: bold;
    margin-top: 20px;
}

.tipo-calculo-box {
    background-color: rgba(255, 255, 255, 0.582);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
    margin-top: 60px;
    width: 270px;
    position: absolute;
    top: 70px;
    right: 10px;
    margin-right: 70px;
    height: 90px;
}

.tipo-calculo-box h2 {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 3px;
}

.tipo-calculo-box label {
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.tipo-calculo-box select {
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.box-section {
    background-color: #ffffff96;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
    margin-top: 20px;
    text-shadow: #000000ad;
}


.soma-calculadora label, .valor-form label {
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 8px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.726);
    display: inline-block; /* Faz o label se alinhar com o input */
}


#descontoSection label {
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 18px; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.671); 
}


.valor-form label {
    color: #ffffff;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-shadow: #000000ad;
}

.valor-form input[type="number"] {
    padding: 8px;
    font-size: 12px;
    border-radius: 17px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 23%;
    box-sizing: border-box;
}

.btn-calculo {
    background: linear-gradient(45deg, #fc5f93, #d40040); 
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 138px;
    justify-content: center;
    height: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.315); 
    transition: all 0.3s ease-in-out; 
}

.btn-calculo:hover {
    color: #ffffff; 
    background: linear-gradient(59deg, #d40040, #fc5f93); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}

.soma-calculadora {
    margin-top: 20px;
}

.remove-button {
    background-color: #e4070773;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1px 2px;
    cursor: pointer;
    position: absolute;
    right: 115px;
    width: 80px;
    height: 19px;
    font-size: 10px;
    margin-top: 15px;
}

.remove-button:hover {
    background-color: #cc0000b9;
}


.valor-calculado,
.resultado-soma,
.resultado-mensalidade {
    font-weight: bold;
    color: #ffffff;
    font-size: 19px;
}


.valor-calculado,
.resultado-soma,
.resultado-mensalidade {
    margin-top: 10px;
}

.valorTotalStyle {
    font-weight: bold;
    color: #ffffff; 
    font-size: 1.2em;
    text-transform: uppercase;
}

.borboleta {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('imagens/animation.png');
    background-size: contain;
    animation: voar 2s ease-out forwards;
    margin-top: 200px;
    /* As variáveis podem ser passadas pelo JS */
    --x: 0;
    --y: 0;
}

@keyframes voar {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    50% {
        transform: translate(calc(-50px + 100px * var(--x)), calc(-50px + 100px * var(--y))) scale(1.2);
    }
    100% {
        transform: translate(calc(-100px + 200px * var(--x)), calc(-100px + 200px * var(--y))) scale(0.5);
        opacity: 0;
    }
}

.btn-principal {
    position: relative;
    overflow: hidden;
}




