body {
    font-family: Arial, sans-serif;
    margin: 90px;
    background-color: #fc80b4;
    color: #333;
    background-image: url('imagens/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: #ffffff; 
    text-align: left;
    padding-left: 10px;
    font-size: 50px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
}

h2 {
    color: #fc80b4;
    text-align: left;
    padding-left: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.233);
}

h3 {
    color: #fc80b4;
    font-size: 23px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192)
}

h4 {
    color: #fc80b4;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.212);
}

form {
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

label {
    color: #333;
    font-weight: bold;
}

input[type="date"], input[type="number"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 17px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 200px;
    box-sizing: border-box;
}

button {
    background-color: #fc80b4;
    border: none;
    border-radius: 12px;
    color: #0e0e0e;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: center;
    height: 40px;
}

button:hover {
    color: #000000a2;
}

.resultado {
    background-color: #ffffff7e;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
    font-weight: bold;
    margin-top: 20px;
}

.tipo-calculo-box {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 45px;
    width: 270px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 70px;
    height: 100px;
}

.tipo-calculo-box h2 {
    color: #fc80b4;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 3px;
}

.tipo-calculo-box label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.tipo-calculo-box select {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.box-section {
    background-color: #ffffff7e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.valor-form label {
    color: #333;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.valor-form input[type="number"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 17px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 23%;
    box-sizing: border-box;
}

.btn-calculo {
    background-color: #fc80b4;
    border: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 130px;
}

.btn-calculo:hover {
    background-color: #fc80b4!important;
}

.soma-calculadora {
    margin-top: 20px;
}

.remove-button {
    background-color: #e40707a8;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 1px 2px;
    cursor: pointer;
    position: absolute;
    right: 110px;
    width: 115px;
    height: 21px;
    font-size: 13px;
    margin-top: -40px;
}

.remove-button:hover {
    background-color: #cc0000b9;
}


.valor-calculado,
.resultado-soma,
.resultado-mensalidade {
    font-weight: bold;
    color: #333;
    font-size: 19px;
}


.valor-calculado,
.resultado-soma,
.resultado-mensalidade {
    margin-top: 10px;
}
